 $key-height: 16vmin;
 body {
  height:100vh;
 }

 #calculator {
  width:100vmin;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin:0 auto;

  #result {
    background-color: red;
    height:1.5*$key-height;
  }
 
  #preview {
    background-color: green;
    height: 0.5*$key-height; 
  }
 
  #keys {
    .key {
      background-color: blue;
      height:$key-height;
    }
  }
  
  #operators {
    .operator {
      background-color: orange;
      height:0.8 *$key-height;;
      margin:0 -15px;
    }
  }

 }

